.navigation {
  margin: 0;
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
  @include media-tablet {
    position: absolute;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 97.7vw;
    height: 55vh;
    top: 70px;
    bottom: 0;
    background-color: #ffffff;
  }
  @include media-mobile {
    top: 50px;
  }
}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}

.header__navigation {
  @include media-tablet {
    display: none;
    &.active {
      display: flex;
      position: absolute;
    }
  }
}
